.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  background: hotpink;
}

nav {
  font-size: calc(10px + 2vmin);
  display: flex;
  background-color: #282c34;
  color: white;
  justify-content: space-around;
}

form {
  display: flex;
  justify-content: center;
  padding: 2em;
}

input[type="text"] {
  margin: 0 1em;
}

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2em;
}

.item {
  background: #fff;
  width: 25vw;
  padding: 2em;
  margin: 1em;
}

.shadow {
  box-shadow: 0 8px 6px -6px #555;
}

.App-link {
  color: #61dafb;
}
